/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/mnt
/storage/sqldumps
/storage/sqldumps/*
/vendor
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/database/seeds/voterfiles_old
.DS_Store
!/storage/uploads-master-voter/
/storage/uploads-master-voter/*
!/storage/uploads-election-history/
/storage/uploads-election-history/*